
:root {
    --red_bg: rgb(114, 94, 94);;
    --red_main: rgb(255, 111, 111);;
    --green_bg: rgb(77 83 67);;
    --green_main: rgb(92 220 92);;
}

.user,
.user * {
    color: white;
    border-radius: 5px;
}

.user {
    background-color: #3f3f3f;
    border-radius: 8px;
    height: 300px;
}
.user_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.122) !important;
    padding: 16px;
}
.user_top_left {
    display: flex;
    align-items: center;
}
.user_top_left > img {
    margin-right: 12px;
}
.user_bottom {
    padding: 16px;
    display: flex;
    flex-direction: column;
}
.title_notifications {
    font-size: 1rem;
    color: #ffffff9c;
    margin-bottom: 8px;
}

.form_subscribe {
    display: flex;
}
.form_subscribe > button {
    font-size: 15px;
    padding: 8px 12px;
    cursor: pointer;
    background-color: #ffffff0a;
    border: none;
}
.form_subscribe > button:hover {
    background-color: rgba(255, 255, 255, 0.331);
}
.form_subscribe > button:last-child {
    margin-left: 6px;
}
.form_subscribe > button.active {
    color: var(--green_main);
    background-color: var(--green_bg);
}

.user_img {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    object-fit: cover;
}
.wrap_notifcations {
    display: grid;
    grid-template: 1fr / auto;
    grid-template-rows: auto;
    row-gap: 8px;
    flex-grow: 1;

    overflow-y: auto;
}


.user_noti {
    display: flex;
    background-color: rgb(73, 73, 73);
    padding: 10px;
}
.user_noti:hover > .user_notification_right > .user_btn {
    opacity: 1;
}
.user_noti_left {
    flex: 1;
}
.user_noti_title {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 3px;
}
.user_noti_date {
    font-size: 0.85rem;
    color: rgba(255, 255, 255, 0.616);
}

.user_notification_right {
    display: flex;
}
.user_btn {
    width: 32px;
    height: 32px;
    border-radius: 100px;
    background-color: #ffffff1e;
    cursor: pointer;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}
.user_btn:hover {
    background-color: var(--red_bg)
}
.user_btn:hover .X_line {
    background-color: var(--red_main)
}
.X_line {
    width: 18px;
    height: 2px;
    position: absolute;
    background-color: rgb(170, 170, 170);
    rotate: 45deg;
}
.X_line.second {
    rotate: -45deg;
}
