
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

    transition: 150ms;
    text-decoration: none;
}
html {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
body {
    background-color: rgb(50, 50, 50);
    padding: 4vmin;
    padding-top: 40px;

    height: 98vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    border: none;
}

